In [1]:
#Declare variables

a = 12
b = 8.0
c = 56
d = "Hello, world!"
e = 'Hi my name is Nana Kodwo'
g = (4,5,6)
h = [1, 3, 5]
m = {4,9,11}
r = {"name": "Alice", "age": 29}
z = False

In [2]:
#Print data type

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(g))
print(type(h))
print(type(m))
print(type(r))
print(type(z))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'bool'>

In [3]:
#Converting Data between different Data types 

num = 29

num_str = str(num) #convert int to string

print(num_str, type(num_str))

29 <class 'str'>

In [4]:
#Converting string to int

str_to_int = int("123")
print(str_to_int, type(str_to_int))

123 <class 'int'>

In [5]:
string_to_list = list("Python")
print(string_to_list, type(string_to_list))

['P', 'y', 't', 'h', 'o', 'n'] <class 'list'>

In [6]:
x = 17
y = 5

print("Addition:", x + y)
print("Division:", x/y)
print("Floor Division:", x//y)

Addition: 22
Division: 3.4
Floor Division: 3

In [7]:
#String operations

greeting = "Hello"
name = "Nana Kodwo"

print(greeting + ", " + name + "!")

Hello, Nana Kodwo!

In [13]:
my_list = [1, 4, 7]
my_list.append(10)

print("Modified list:", my_list)

my_set = {1, 2, 3}
my_set.add(8)
print("Modified set:", my_set)

Modified list: [1, 4, 7, 10]
Modified set: {8, 1, 2, 3}